<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Flower Shop</h2>
    <p>The Flower shop project is created by ME!</p>

 {{#link-to "contact" class="button"}}
 Kontakta oss
 {{/link-to}}
</div>