<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Kontakta oss</h2>
  <p>
      Call me!
  </p>
  <address>
    Flower Shop HQ
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
    <a href="tel:46789-456123">+46789-456123</a><br>
    <a href="mailto:hittamig@flowershop.com">mailto:hittamig@flowershop.com</a>
  </address>

  {{#link-to "about" class="button"}}
  Om oss
  {{/link-to}}
</div>