<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Välkommen</h2>
  <p>Blomsortiment</p>
  {{#link-to "about" class="button"}}
    Om oss
  {{/link-to}}
</div>

{{!--använder model arrayen från flowers.js och skriver ut som en foreach--}}
{{#each this.model as |flowerUnit|}}
  <FlowerListing @flower={{flowerUnit}} />
{{/each}}